@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-transition {
  position: relative;
  text-decoration: none;
}

.underline-transition::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FC3D6B;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.underline-transition:hover::after {
  visibility: visible;
  width: 100%;
}

.color-transition {
  background: linear-gradient(to right, #FC3D6B 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.2s ease-in-out;
}

.color-transition:hover {
  background-position: 0%;
}

.highlight-transition {
  position: relative;
  overflow: hidden;
}

.highlight-transition::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  left: 0;
  background-color: #FC3D6B;
  transition: width 0.3s ease-in-out;
}

.highlight-transition:hover::before {
  width: 100%;
}