@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-pink: #fc3d6b;
  --accent-dark: #2e2c2c;
  --stone-300: #d6d3d1;
}

::selection {
  background: var(--accent-pink);
  color: var(--stone-300);
}

.underline-transition {
  position: relative;
  text-decoration: none;
}

.underline-transition::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-pink);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.underline-transition:hover::after {
  visibility: visible;
  width: 100%;
}

.color-transition {
  color: var(--stone-300);
  transition: color 0.15s ease-in-out;
}

.color-transition:hover {
  color: var(--accent-pink);
}
